* {
    box-sizing: border-box;
    font-family: Tahoma;
    font-size: 13px;
    margin:0;
    padding:0;
}
body {
    background-color:#ccc;
    padding-top: 10px;
}
#container {    
    width:1000px;
    height: 800px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 300px 700px;
    grid-template-rows: 250px 50px auto;
    background-color: #CAF7B7;
    border-radius: 50px 50px 50px 50px;
    font-family: Verdana;
}
 #content-left {    
    height: 550px;
    background-color: #2D3E50;
}
 /* #content-right {    
    background-color: #fff;
} */
#bar {
    grid-column: 1/3;
    background-color: #15562D;    
}
#header-left {
    display: flex;
    border-top-right-radius: 50px;        
    justify-content: center;
    align-items: center;
}   
#content-left {
    background-color: #15562D;
    border-radius: 0 50px 0 50px;

}
#avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:5px solid rgba(255, 255, 255, 0.8);        
}
#header-info {
    margin:100px 0 0 50px;
    text-align: center;
}
#name {
    font-size: 2.5rem;
    font-weight: bold;
    color:#15562D;   
    padding: 0 0 10px 0; 
}
#class {
    font-size: 1.5rem;
    color:#18A34A;     
}
#bar > ul {
    display: flex;
    justify-content:space-around;    
}
#bar > ul > li {
    list-style: none;
    line-height: 50px;
    color:#fff;
    font-size: 1.2rem;    
}

.box {
    padding: 0 15px 0 10px; 
    margin:20px 0 30px 0;   

}
.box-title {    
    font-weight: bold;
    font-size: 1.5rem;
    
}
.box-content {
    padding: 10px 0 0 0;
}
.box-content li {
    list-style-type: none;
    line-height: 25px;
}

table {
    width:100%;    
    border-collapse: collapse;
}
th,  td {
    border:1px solid #ccc;
    line-height: 25px;
    padding: 2px 5px 2px 5px;
}
th {
    background-color: #2D3E50;
    color: #fff;
}
.text-center {
    text-align: center;
}
